@import "normalize.scss";

// Mixins

@mixin font-futurabookc {
  font-family: "FuturaBookC";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}
@mixin font-yeseva {
  font-family: "Yeseva One", cursive;
}
@mixin font-yeseve-2nd-block {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
}
// Mixins

// Header

.header {
  color: white;
  background: #131313;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83px;

  &__logo {
    font-family: "FuturaDemiC";
    font-size: 7.5px;
    line-height: 16px;
    text-transform: uppercase;
    color: #e3b873;
    margin-left: 82px;
    letter-spacing: 1px;
  }
  &__nav {
    &-menu {
      list-style: none;
      display: flex;
      margin: 0 0;
      padding: 0 0;
      &__item {
        font-family: "FuturaBookC";
        src: url("./fonts/FuturaBookC\ Regular.otf") format("otf");
        font-size: 14px;
        line-height: 16px;
        margin: 0 0 0 49.09px;
        color: #ffffff;
        flex-grow: 1;
        &:first-child {
          color: #e3b873;
          margin-left: 48.38px;
        }
      }
    }
  }
  &__telephone {
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;
    color: #e3b873;
    // display: inline-block;
    margin-left: 67px;
    flex-shrink: 1;
  }
  &__button {
    margin-right: 100px;
    button {
      background: #e3b873;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
      border-radius: 2px;
      font-family: FuturaDemiC;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      padding: 10px 25px;
    }
  }
}

// Header

// Main Info

.main-info {
  height: 738px;

  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;

    &__instagram {
      writing-mode: vertical-rl;
      height: 757px;
      width: 82px;
      text-align: center;
      background: #131313;
      position: relative;
      z-index: 5;

      &-text {
        align-self: center;
        // transform: rotate(90deg);
        font-family: "FuturaDemiC";
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #e3b873;
        align-content: center;
        position: absolute;
        left: 34px;
        text-decoration: none;
        &__line {
          position: absolute;
          border: 13px 10px solid #e3b873;
          transform: rotate(90deg);
        }
      }
    }
    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      height: 757px;
      background: url("../img/bg-main-info.png") no-repeat;
      background-size: cover;
    }
    &__wrapper {
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 100px;
      &-title {
        font-family: "Yeseva One";
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        position: relative;
        z-index: 5;
        color: #ffffff;
        width: 550px;
        &__rostov {
          color: #e3b873;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2;
      }
      &-subtitle {
        @include font-futurabookc;
        font-size: 22px;
        line-height: 35px;
        color: #ffffff;
        position: relative;
        width: 450px;
        z-index: 5;
      }
      &__button {
        display: flex;
        position: relative;
        justify-content: space-between;
        width: 440px;
        z-index: 5;
        &-button1 {
          button {
            width: 210px;
            font-family: "FuturaDemiC";
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            color: #ffffff;
            background: #e3b873;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
            border-radius: 2px;
            outline: none;
            padding: 20px 20px;
          }
        }
        &-button2 {
          button {
            width: 210px;
            font-family: "FuturaDemiC";
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            color: #ffffff;
            background: none;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
            border-radius: 2px;
            outline: none;
            padding: 20px 20px;
          }
        }
      }
    }
  }

  &__scroll-down {
    width: 150px;
    &-button {
    }
  }
}

// Main Info

// Completed Projects

.projects {
  margin-top: 15px;
  height: 710px;
  width: 100%;
  display: grid;
  grid-template-columns: 100px 500px 720px 200px;
  grid-template-rows: 100px 60px 290px 200px 100px;
  background-color: #131313;
  &__navbar {
    width: 750px;
    height: 50px;
    grid-column-start: 3;
    grid-row-start: 2;
    justify-content: space-between;

    &__menu {
      display: flex;
      flex-direction: row;
      list-style: none;

      &-item {
        font-family: "Yeseva One";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1px;
        text-transform: uppercase;
        color: #e3b873;
        margin-left: 15px;
      }
    }
  }
  &__pictures__wrapper {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    width: 850px;
    display: flex;
    margin-left: 50px;
    &__picture1 {
      margin-right: 35px;
    }
    &__picture2 {
      // overflow: hidden;
      grid-column-start: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 3;
    height: 300px;
    &__title {
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;
      letter-spacing: -0.07em;
      text-transform: uppercase;
      color: #e3b873;
    }
    &__text {
      @include font-futurabookc;
      margin-top: 50px;
      width: 400px;
      line-height: 28px;
      letter-spacing: 1px;
    }
  }
  &__data__container {
    grid-column-start: 2;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: 100px 100px;
    // grid-row-end: 4;
    &__city {
      &__title {
        @include font-yeseve-2nd-block;
      }
      &__text {
        @include font-futurabookc;
      }
    }
    &__area {
      &__title {
        @include font-yeseve-2nd-block;
      }
      &__text {
        @include font-futurabookc;
      }
    }
    &__time {
      &__title {
        @include font-yeseve-2nd-block;
      }
      &__text {
        @include font-futurabookc;
      }
    }
    &__cost {
      &__title {
        @include font-yeseve-2nd-block;
      }
      &__text {
        @include font-futurabookc;
      }
    }
  }
  &__arrow {
    width: 100px;
    height: 100px;
    grid-row-start: 4;
    grid-column-start: 2;
    &-left {
    }
    &-right {
    }
  }
}

// Completed Projects

// Online Control

.online-control {
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
  }
  &__repair-icon {
  }
  &__video {
    flex-grow: 1;
  }
  &__repair-text {
    flex-grow: 1;
    width: 700px;
    text-align: center;
    font-family: "FuturaBookC";
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    color: #363636;
  }
  &__form__wrapper {
    flex-grow: 1;
    display: flex;
    height: 10px;
    label {
      display: block;
      margin-left: 15px;
      font-family: "FuturaBookC";
      font-size: 15px;
      line-height: 20px;
      color: rgba(54, 54, 54, 0.5);
    }
    &__input {
      input {
        border: none;
        font-family: "FuturaBookC";
        font-size: 18px;
        line-height: 24px;
        color: #363636;
        outline: none;
        padding: 15px 15px;
      }
    }
    &__button {
      button {
        width: 210px;
        font-family: "FuturaDemiC";
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #ffffff;
        background: #e3b873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
        border-radius: 2px;
        outline: none;
        padding: 15px 15px;
      }
    }
  }
  &__agreement {
    flex-grow: 1;
  }
}

// Online Control

// Repair Types

.repair-types {
}

// Repair Types

// Fantasies

.fantasies {
}

// Fantasies

// Design Project

.design-project {
}

// Design Project

// Goals

.goals {
}

// Goals

// Our Team

.our-team {
}

// Our Team

// Our Clients

.our-clients {
}

// Our Clients

// Question Form

.question-form {
}

// Question Form

// Phone

.phone {
}

// Phone

// Map

.map {
}

// Map

// Footer

.footer {
}

// Footer
